<% provide(:title, "Create New Deliverable") %>

<h3 id="page_header">Create New Deliverable</h3>

<fieldset>
  <%= form_for(@deliverable, :url => create_project_phase_deliverable_path, :method => :post) do |f| %>

    <%= render 'form', :f => f %>


    <!-- Cancel and Create buttons -->
    <div class="row">
      <div class="large-3 large-offset-9 columns">
        <input class="tiny button" type="submit" name="Submit" value="Create">
        <a class="tiny button" href="/project_phases/<%= @project_phase_id %>">Cancel</a>
      </div>
    </div>

    <!--< % if @new_project.errors.any? %>-->
        <!--< % @new_project.errors.full_messages.each do |msg| %>-->
            <!--<small class="error">< %= msg %></small>-->
        <!--< % end %>-->
    <!--< % end %>-->
  <% end %>
</fieldset>