<% provide(:title, "Edit Deliverable") %>

<h3 id="page_header">Edit <%= @deliverable.name %></h3>

<fieldset>
  <%= form_for @deliverable do |f| %>
    <%= render "form", :f => f %>

    <!-- Cancel and Create buttons -->
    <div class="row">
      <div class="large-3 large-offset-9 columns">
        <input class="tiny button" type="submit" name="Submit" value="Edit">
        <a class="tiny button" href="/project_phases/<%= @project_phase_id %>">Cancel</a>
      </div>
    </div>

  <% end %>
</fieldset>