<% provide(:title, "Projects") %>

<h1>Existing Projects</h1>
<p>Find me in app/views/project/index.html.erb</p>


<table id="projects-table">
  <thead>
  <tr>
    <th scope="col">Name </th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>

  <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
      </tr>
  <% end %>
  </tbody>
</table>