<% provide(:title, "Create New Project") %>

<div>
  <label class="project_field_label">Name</label>
  <input type="text" id="name" />
</div>
<div>
  <label class="project_field_label">Description</label>
  <input type="text" id="description" />
</div>
<div>
  <label class="project_field_label">Lifecycle</label>
  <select id="lifecycle">
  </select>
</div>

<div>
  <input type="submit" name="Submit" value="Submit">
</div>