<% provide(:title, "Project Overview") %>

<div>
  <label class="project_field_label">Name</label>
  <input type="text" id="name" value=<%= @project.name %> />
</div>
<div>
 <label class="project_field_label">Description</label>
  <input type="text" id="description" value=<%= @project.description %> />
</div>
<div>
<label class="project_field_label">Lifecycle</label>
  <input type="text" id="lifecycle" disabled="disabled" value=<%= @project.lifecycle_string %>  />
</div>

<div>
</div>

<div>
<label class="project_field_label">Total Estimation</label>
  <input type="text" id="total_estimation" value="" disabled="disabled" />
</div>

<div>
<input type="submit" name="Submit" value="Submit">
<input type="submit" name="Back" value="Back">
<input type="submit" name="Delete" value="Delete">
</div>
